.Box {
  padding: 20px;
  background-color: rgba(30, 30, 30, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

.faq-container {
  margin-top: 20px;
}

.faq-item {
  margin-bottom: 10px;
  border: 1px solid #444;
  border-radius: 4px;
}

.faq-question {
  background-color: #333;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  height: 50px;
  display: flex;
  align-items: center;
}

.faq-answer {
  background-color: #222;
  border-top: 1px solid #444;
  color: #cccccc;
  max-height: 0;
  overflow: hidden;
  padding: 0 15px;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.faq-answer.active {
  max-height: 500px;
  padding: 15px;
}

.LinkContainerHelp {
  margin-top: 50px;
}
