body {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://static.bnn.de/mittelbaden/buehl/Kreuzung.jpg-5eyi8l/alternates/LANDSCAPE_16x9_BASE/Kreuzung.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}

.keineBox {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.Box {
  max-width: 700px;
  background-color: rgba(30, 30, 30, 0.85);
  padding: 20px;
  border-radius: 8px;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  line-height: 1.5;
}

h1 {
  font-size: 22px;
  margin-bottom: 12px;
  padding-left: 10px;
}

h2 {
  font-size: 18px;
  margin-top: 16px;
  padding-left: 10px;
}

ul {
  margin: 8px 0;
  padding-left: 30px;
}

ul li {
  margin-bottom: 8px;
}

p {
  margin-bottom: 12px;
  margin-top: 20px;
}

.custom-link {
  display: inline-block;
  margin-top: 16px;
  padding: 8px 12px;
  background-color: #4f46e5;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.custom-link:hover {
  background-color: #3730a3;
}
